<%- include('./htmlHeader') %>
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Confirm Your Email</h2>
            <p class="card-text text-center">An email has been sent to your inbox. Please click on the link to confirm your email address.</p>
        </div>
    </div>
    </div>
</div>
</div>


<%- include('./htmlFooter') %>