<%- include('./htmlHeader') %>

    <nav class="navbar navbar-expand-lg bg-custom navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="/shared/img/logo300.png" width="54" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     Menu <span class="navbar-toggler-icon"></span>
    </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/signUp">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logIn">Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- /navbar -->

    <div class="container text-center my-5">
        <h4>Sarahah allows you to receive constructive feedback from your friends and co-workers</h4>
        <div class="buttons d-flex justify-content-center align-items-center  flex-column">
            <a href="/auth/logIn" class="btn btn-default-outline my-4"><i class="fas fa-user"></i> Login</a>
            <a href="/auth/signUp" class="btn btn-default-outline"><i class="far fa-edit"></i> Register</a>
        </div>
    </div>

    <%- include('./htmlFooter') %>
